$nav-width: 400px;

.nav {
	position: absolute;
	z-index: 10;
	height: 100%;
	opacity: .98;
	color: $white;
	width: $nav-width;
	font-size: 18px;
	float: left;
	background-color: $dark-blue;

	#welcome {
		background-image: url('../img/a2pogo.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 150px;
		margin-bottom: 30px;
	}

	&-content {
		overflow: hidden;
		position: relative;
		height: calc(100% - 250px);
	}

	&-form {
		color: $white;
		text-align: center;

		h3 {
			font-size: 18px;
			white-space: nowrap;
		}

		td {
			color: $white;
		}

		table {
			margin: 0 auto;
		}
	}

	&-tabs {
		display: flex;
		margin-bottom: 10px;

		&-track {
			height: 2px;
			margin-bottom: 10px;

			&-slider {
				width: 50%;
				position: relative;
				left: 0px;
				height: 100%;
				background: $white;
				transition: left .5s;

				&[data-place='1'] {
					left: 0px;
				}

				&[data-place='2'] {
					left: 50%;
				}
			}
		}

		&-item {
			height: 50px;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all .3s;

			&:not(.disabled) {
				cursor: pointer;

				&:hover {
					color: mix($yellow, $white, 35%);
				}
			}
		}

		&-container {
			font-size: 17px;
			position: absolute;
			width: 100%;
			height: 100%;
			transition: left .5s;
			overflow-y: scroll;
			overflow-x: hidden;
			padding: 0 10px;

			&--left {
				left: -100%;
			}

			&--active {
				left: 0;
			}

			&--right {
				left: 100%;
			}

			&-item {
				padding: 14px 10px 0px;
				transition: color .3s;
				cursor: pointer;

				& * {
					cursor: pointer;
				}

				&:hover, :hover {
					color: mix($yellow, $white, 35%);
				}

				&:hover {
					.nav-tabs-container-item-info {
						&-delete {
							display: block;
						}
					}
				}

				&-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 30px;

					.fa-mobile {
						font-size: 40px;
					}
				}

				&-info {
					padding-left: 18px;

					&-name {

					}

					&-details {
						font-size: 11px;
						opacity: .5;
					}

					&-delete {
						color: $white;
						display: none;
						position: absolute;
					    right: 15px;
					    margin-top: -25px;
						opacity: .2;
						transition: color .2s ease-in, color .4s ease-out, opacity .3s;

						&:hover {
							color: $red;
							opacity: .8;
						}
					}
				}

				&-template {
					opacity: 0;
					display: none;
				}
			}

			&-buttons {
				margin-top: 40px;
				text-align: center;
			}

			& .message {
				padding-top: 20px;
				text-align: center;
			}
		}
	}
}
