$nav-width: 400px;

[data-type="address-email"],
[data-type="webhook"] {
	display: none;
}

.nav {
	position: absolute;
	z-index: 10;
	height: 100%;
	opacity: .98;
	color: $white;
	width: $nav-width;
	font-size: 18px;
	float: left;
	background-color: $dark-blue;

	#welcome {
		background-image: url('../img/a2pogo.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 150px;
		margin-bottom: 30px;
	}

	&-content {
		overflow: hidden;
		position: relative;
		height: calc(100% - 250px);
	}

	&-scrollable {
	}

	&-tabs {
		display: flex;
		margin-bottom: 10px;

		&-track {
			height: 2px;
			margin-bottom: 10px;

			&-slider {
				width: 50%;
				position: relative;
				left: 0px;
				height: 100%;
				background: $white;
				transition: left .5s;

				&[data-place='1'] {
					left: 0px;
				}

				&[data-place='2'] {
					left: 50%;
				}
			}
		}

		&-item {
			cursor: pointer;
			height: 50px;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all .3s;

			&:hover {
				color: mix($yellow, $white, 35%);
			}

			&-template {
				display: none;
			}
		}

		&-container {
			font-size: 17px;
			position: absolute;
			width: 100%;
			height: 100%;
			transition: left .5s;
			overflow-y: scroll;
			overflow-x: hidden;
			padding: 0 10px;
			padding-bottom: 50px;

			&--left {
				left: -100%;
			}

			&--active {
				left: 0;
			}

			&--right {
				left: 100%;
			}

			&-item {
				padding: 14px 10px 0px;
				transition: color .3s;
				cursor: pointer;

				& * {
					cursor: pointer;
				}

				&:hover, & :hover {
					color: mix($yellow, $white, 35%);
				}

				&-icon {
					display: flex;
					align-items: center;
					justify-content: center;

					.fa-mobile {
						font-size: 24px;
					}
				}

				&-info {
					padding-left: 10px;

					&-name {

					}

					&-details {
						font-size: 11px;
						opacity: .5;
					}
				}
			}

			&-buttons {
				margin-top: 40px;
				text-align: center;
			}
		}
	}

	.sub-nav {
		width: $nav-width + 50px;
		z-index: 11;
		position: relative;
		left: -$nav-width - 55px;
		background-color: $blue;
		text-align: center;

		&-header {
			font-size: 24px;
			margin-top: 30px;
			display: block
		}

		&-form {
			padding-bottom: 30px;

			h3 {
				font-weight: 500;
				font-size: 17px;
				margin-top: 24px;
				margin-bottom: 10px;
			}

			h4 {
				font-weight: 500;
				font-size: 16px;
				margin-top: 18px;
				margin-bottom: 7px;
			}

			input[type="text"],
			select {
				width: 70%;
			}

			input[type="time"] {
				width: 35%;
				text-align: center;
				margin: 0 5px;
				font-family: inherit;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}

			table {
				margin: 0 auto;
				color: $white;
			}
		}
	}
}
